<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#/account">MyIVMA</a></li>
        <li><a ng-href="#/report">Report</a></li>
    </ul>
    <h3 class="text-muted">YOANGULAR</h3>
</div>

<div class="todo-wrapper" ng-controller="TodoCtrl">
    <h2>You've got <span class="emphasis">{{getTotalTodos()}}</span> things to do</h2>
    <ul>
        <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.done"/>
            <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
    </ul>
    <form>
        <input class="add-input" placeholder="I need to..." type="text" ng-model="formTodoText" ng-model-instant />
        <button class="add-btn" ng-click="addTodo()"> <b>Add</b> </button>
    </form>
</div>


<div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> from the IVMA team</p>
</div>
